<article class="application framed">
    <h2 class="divider">{{ localize "JOIN.HeaderWorld" }}</h2>
    <div id="world-description" class="scrollable">
        {{{ world.description }}}
    </div>
</article>
