<template id="camera-views"></template>
<div id="interface">
    <section id="ui-left" class="flexrow">
        <div id="ui-left-column-1" class="flexcol">
            <template id="scene-controls"></template>
            <template id="players"></template>
        </div>
        <div id="ui-left-column-2" class="flexcol">
            <template id="scene-navigation"></template>
        </div>
    </section>
    <section id="ui-middle">
        <header id="ui-top" class="flexcol">
            <div id="loading">
                <div id="loading-bar">
                    <label id="context"></label>
                    <label id="progress"></label>
                </div>
            </div>
        </header>
        <footer id="ui-bottom" class="flexcol">
            <template id="hotbar"></template>
        </footer>
    </section>
    <section id="ui-right" class="flexrow">
        <div id="ui-right-column-1" class="flexcol"></div>
        <template id="sidebar"></template>
    </section>
</div>
<template id="hud"></template>
<template id="board"></template>
<template id="pause"></template>
