{{#with currentlyPlaying}}
<div class="currently-playing global-control {{ class }}">
    <header class="playlist-header">
        <strong>{{ localize "PLAYLIST.CurrentlyPlaying" }}</strong>
        <button type="button" class="inline-control pin icon fa-solid fa-caret-{{ pin.caret }}"
                data-tooltip aria-label="{{ localize pin.label }}" data-action="pinCurrentlyPlaying"></button>
    </header>
    <ol class="playlist-sounds plain">
        {{#each sounds}}
            {{> "templates/sidebar/tabs/playlist/sound-partial.hbs" playback=true }}
        {{/each}}
    </ol>
</div>
{{/with}}
