<div>

    {{#if title.show}}
    <header class="journal-page-header">
        <h{{ title.level }}>{{ name }}</h{{ title.level }}>
    </header>
    {{/if}}

    <section class="journal-page-content">
        {{{ text.enriched }}}
    </section>

</div>
