<section>
    <input type="hidden" name="text.format" value="{{ markdownFormat }}" data-dtype="Number">
    <code-mirror class="markdown-editor" name="text.markdown" language="markdown" autofocus>
        {{~ text.markdown ~}}
    </code-mirror>
</section>
